page-login {

    // ion-item{
    // }

    .content_bg{
        background-image: url('../../assets/imgs/loginbg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .loginbtns{
        // height: 40px;
        color: black;
        opacity: 20%;
        background-color: color($colors, redlike);
    }

    .custom-icon {
        // font-size: 64px;
        color : white;
      }

      .sometext{
        color: color($colors, secondary);
      }
    
    .itemclass{
        height: 2vh;
        align-content: center;
        padding-left: 25px;
        margin-bottom: 12px;
        border-radius: 20px;    
    }
    
    .testclass{
        padding-right: 30px;
    }
}
