// .scroll-content{overflow-y: hidden;}

.container {
//   position: relative;
  text-align: center;
  color: white;
  background: color($colors, dark);
  padding: 0px;
}

.user-name {
  font-size: 15px;
  position: absolute;
  bottom: 35px;
  right: 16px;
}

.userimage{
  width:90px;
  height:90px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 50px;
}

.user-mail {
  font-size: 13px;
  position: absolute;
  bottom: 15px;
  right: 16px;
}