page-forgotpassword {

       // ion-item{
    // }

    .content_bg{
        // background-image: url('../../assets/imgs/loginbg.png');
        background-image: url('../../assets/icon/backgroundimg.png');
        
        background-repeat: no-repeat;
        background-size: cover;
    }
    .loginbtns{
        // height: 40px;
        color: black;
        opacity: 20%;
        background-color: color($colors, redlike);
    }

    .custom-icon {
        // font-size: 64px;
        color : white;
      }

      .sometext{
        color: color($colors, secondary);
      }
    
    .itemclass{
        height: 7vh;
        align-content: center;
        // background:color($colors, grey);
        background: rgba(158, 158, 158, 0.6);
        padding-left: 10px;
        opacity: 0.3;
        margin-bottom: 12px;
        color: white;
        border-radius: 20px;    
    }
    
    .testclass{
        padding-right: 30px;
    }

    .knowrow{
        justify-content: center; 
        margin-top: 10px; 
        margin-bottom: 10px; 
        
        font-size: 18px;
        color: color($colors, grey);
    }

    .know1row{
        justify-content: center; 
        margin-top: 30px; 
        margin-bottom: 10px;
        font-size: 25px;
        color: color($colors, redlike);
    }

    ion-input {
        &.custom-input {
          font-size: 20px; //sets text font size
          ::placeholder {
            font-size: 18px; 
            color: white;//sets placeholder font size
          }
        }
      }
}
